.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  background-color: #1e7159;
}

h1 {
  font-size: 50px;
  color: black;
}

input {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 25px;
}

label {
  font-size: 35px;
  color: black;
}

button {
  margin-top: 15px;
  font-size: 30px;
  width: 200px;
  background-color: black;
  color: silver;
  padding: 5px;
}

.task {
  display: flex;
  justify-content: space-around;
}

hr {
  color: white;
  margin-top: 80px;
}

#tekst {
  margin-top: 15px;

}

#lbl {
  margin-left: 185px;
  margin-right: 15px;
}

#btn {
  display: block;
  margin-left: 920px;
}

textarea {
  font-size: 25px;
}

.task {
  margin-bottom: 10px;
  color: black;
}

#filter_select {
  width: 200px;
  margin-left: 860px;
  margin-bottom: 40px;
}

option {
  background-color: white;
}